{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Categories > {{ category.name }}</h2>
    {% if active_listings %}
        <ul id="active-listings">
            {% for listing in active_listings %}
                <li>
                    <a href="{% url 'listing' id=listing.id %}">
                    {% if listing.image_url %}
                        <img src="{{ listing.image_url }}" alt="{{ listing.title }}" width="200" height="200">
                    {% else %}
                        <div class="no-img"></div>
                    {% endif %}
                    </a>
                    <div class="info">
                        <h3>
                            <a href="{% url 'listing' id=listing.id %}">
                                {{ listing.title }}
                            </a>
                        </h3>           
                        <p>{{ listing.description }}</p>
                        <h4>${{ listing.current_bid }}</h4>
                    </div>                    
                </li>
            {% endfor %}
        </ul>        
    {% else %}
        <h2>No listings yet.</h2>
    {% endif %}        
{% endblock %}