{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <ul id="active-listings">
        {% for item in listing_items %}
        <li style="list-style: none;padding-bottom:100px;">
           <a href="{% url 'listing' id=item.id %}">
           {% if item.image_url %}
                <img src="{{ item.image_url }}" alt="{{ item.title }}" width="200" height="200">
           {% else %}
                <div class="no-img"></div>
           {% endif %}
           </a>
           <div class="info">
                <h3>
                    <a href="{% url 'listing' id=item.id %}">
                        {{ item.title }}
                    </a>
                </h3>           
                <p>{{ item.description }}</p>
                <h4>${{ item.current_bid }}</h4>
           </div>
           
        </li>
        {% endfor %}
    </ul>
{% endblock %}