{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    {% if active_listings %}
        <ul id="active-listings">
            {% for listing in active_listings %}
                <li>
                    <a href="{% url 'listing' id=listing.id %}">
                    {% if listing.image_url %}
                        <img src="{{ listing.image_url }}" alt="{{ listing.title }}" width="200" height="200">
                    {% else %}
                        <div class="no-img"></div>
                    {% endif %}
                    </a>
                    <div class="info">
                        <h3>
                            <a href="{% url 'listing' id=listing.id %}">
                                {{ listing.title }}
                            </a>
                        </h3>           
                        <p>{{ listing.description }}</p>
                        <h4>${{ listing.current_bid }}</h4>
                    </div>
                    <form class="remove-from-watchlist" action="{% url 'remove_from_watchlist' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="page" value="watchlist">
                        <input type="hidden" name="remove-from-watchlist" value="{{ listing.id }}">
                        <input class="submit btn btn-link" type="submit" value="x" title="Remove from Watchlist">
                    </form>                                       
                </li>
            {% endfor %}
        </ul>        
    {% else %}
        <h2>No listings yet.</h2>
    {% endif %}
{% endblock %}